.no-arrow .dropdown-toggle::after {
	display: none !important;
}
.multi-range-slider .bar-inner{
	background-color: #007bff;
}
.ruler{
	display: none !important;
}
.labels{
	display: none !important;
}